<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.tcnr.cos.c0201">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="tw.tcnr.cos.c0201.providers.WRITE"></uses-permission>
    <uses-permission android:name="tw.tcnr.cos.c0201.providers.READ"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".C0201">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".C0202"></activity>
        <activity android:name=".C0203"></activity>
        <activity android:name=".C0204"></activity>

        <provider
        android:name=".providers.SQLiteContentProvider"
        android:authorities="tw.tcnr.cos.c0201.providers.SQLiteContentProvider">

        </provider>

    </application>

</manifest>